:root {
	--primario: #072b61;
	--secundario: #f3f5fc;
	--blanco: #ffffff;
	--grisOscuro: #343a40;
	--grisClaro: _#495057;
	--fuente: "IBM Plex Mono", monospace;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: var(--secundario);
	font-family: var(--fuente);
}

.contenedor {
	max-width: 120rem;
	margin: 0 auto;
}

.grid-principal {
	margin: 1rem;
}

@media (min-width: 768px) {
	.grid-principal {
		margin-top: 2rem;
		margin-left: 5rem;
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 4rem;
	}
}

.encriptador-flex {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.encriptador-flex {
		justify-content: space-between;
	}
}

.encriptador-texto {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2.4rem;
}
@media (min-width: 768px) {
	.encriptador-texto {
		margin-top: 2rem;
		margin-left: 5rem;
	}
}
.encriptador-texto input {
	width: 100%;
	background-color: var(--secundario);
	text-align: center;
	border: none;
	border-radius: 1rem;
	padding-block: 2rem;
	margin-top: 2rem;
}

@media (min-width: 768px) {
	.btn-box {
		margin-top: 2rem;
		margin-left: 5rem;
	}
}

.vector {
	display: flex;
	justify-content: center;
}
.vector p {
	padding-left: 1rem;
	font-size: 1.4rem;
}

.btn-grid {
	display: grid;
	gap: 1rem;
}
@media (min-width: 768px) {
	.btn-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.btn-flex {
		flex-direction: row;
	}
}

.btn {
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	border: none;
	background-color: var(--primario);
	color: var(--blanco);
	width: 100%;
}

.btn:hover {
	background-color: #688abd;
}

.impreso {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--blanco);
	margin-top: 5rem;
	min-height: 50rem;
	font-size: 2rem;
}

@media (min-width: 768px) {
	.impreso {
		margin-top: 1rem;
		min-height: 80rem;
		max-width: 40rem;
		background-image: url(../img/Muñeco.svg);
		background-repeat: no-repeat;
		background-position: center top;
	}
}

.section {
	width: 100%;
}
